<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.common.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.ding.common.entity.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_SEX" jdbcType="CHAR" property="userSex" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
    <result column="USER_STATUS" jdbcType="CHAR" property="userStatus" />
    <result column="USER_FLAG" jdbcType="CHAR" property="userFlag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UODATE_TIME" jdbcType="TIMESTAMP" property="uodateTime" />
  </resultMap>
</mapper>